<%- include('adminheader'); -%>

  <!DOCTYPE html>
  <html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
      }

      body {
        margin: 20px;
      }
    </style>
  </head>

  <body>


    <table style="width:100%">

      <tr>

        <th>User Id</th>
        <th>User name</th>
        <th>User Mobile</th>
        <th>User Email</th>
        <th>User Aadhaar</th>

      </tr>
      <% if(userdata.length!=0) { userdata.forEach(function(data) { %>
        <tr>

          <td>
            <%=data.userId%>
          </td>
          <td>
            <%=data.userName%>
          </td>
          <td>
            <%=data.userMobile%>
          </td>
          <td>
            <%=data.userEmail%>
          </td>
          <td>
            <%=data.userDoc%>
          </td>
        </tr>
        <% })}else{ }%>
    </table>

  </body>

  </html>
  <%- include('footer'); -%>